<div class='outer'>
  <% Item::KINDS.each_slice(2) do |pair_of_kinds| %>
    <div class='two-wide'>
      <% pair_of_kinds.each do |kind| %>
        <div class='kind'>
          <h2><%= kind.pluralize %> <%= link_to dynamic_new_item_path('item[kind]' => kind), 'data-kind' => kind  do %>
              <i class="icon-plus"></i></h2>
              <% end %>
          <hr>
          <% if items[kind].present? %>
            <ul class='large-font'>
              <% items[kind].each do |item| %>
                <li>
                  <%= item.title %>
                  <%= link_to edit_item_path(item) do %>
                    <i class="icon-pencil"></i>
                  <% end %>
                  <%= link_to item, confirm: 'Are you sure?',
                              method: :delete do %>
                    <i class='icon-trash'></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>