
<%= render partial: 'as_html', locals: { items: @items } %>

<div class='row'>
  <div class='span4'><%= link_to "Add New Face", new_item_path(kind: 'face'), class: 'btn' %></div>
  <div class='span4'><%= link_to "Add Help", new_item_path('item[kind]' => 'Help'), class: 'btn' %></div>
  <div class='span4'><%= link_to "Add Interesting", new_item_path('item[kind]' => 'Interesting'), class: 'btn' %></div>
</div>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">

      <%=  form_tag '/posts', method: 'post', class: 'hidden-phone navbar-form pull-right' do %>
        <%= text_field_tag 'post[title]', "#{Time.now.strftime("%m/%d/%Y")}: ", class: 'span4', placeholder: "Post Title" %>
        <%= submit_tag "Create Post",
                       confirm: "This will remove these items from the board. Are you sure?",
                       id: 'create-post',
                       class: 'span2'
        %>
      <% end %>

    </div>
  </div>
</div>
