
<%= render partial: 'as_html', locals: { items: @items } %>

<div class="bottom navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">

      <%=  form_tag '/posts', method: 'post', class: 'navbar-form pull-right' do %>
        <%= text_field_tag 'post[from]', nil,  placeholder: "Blogger Name(s)" %>
        <%= text_field_tag 'post[title]', nil, placeholder: "Post Title (eg: Best Standup Ever)" %>
        <%= submit_tag "Create Post",
                       confirm: "This will remove these items from the board. Are you sure?",
                       id: 'create-post'
        %>
      <% end %>

    </div>
  </div>
</div>
