<% form_for_item = @post ? [@post, @item] : @item %>
<%= form_for(form_for_item, html: { class: 'form-horizontal' }) do |f| %>
    <% if @item.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited
            this item from being saved:</h2>
          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <fieldset>
    <div class='control-group'>
      <div class='controls'>
        <div class="btn-group" data-toggle-name="item[kind]" data-toggle="buttons-radio" >
          <% Item::KINDS.each do |kind| %>
            <button type='button' value='<%= kind %>' class='btn btn-info' data-toggle="button"><%= kind %></button>
          <% end %>
        </div>
        <%=  f.hidden_field :kind %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <span class="btn-group" data-toggle-name="item[public]" data-toggle="buttons-radio" >
          <button type="button" value="0" class="btn btn-warning" data-toggle="button">Private</button>
          <button type="button" value="1" class="btn btn-warning" data-toggle="button">Public</button>
        </span>
        <i class='icon-question-sign'
           rel="popover"
           data-content="Public items will be posted to the blog.  Please do not include client names (unless you are
           sure they would like to be mentioned) or include information only of
           interest to people working in the office."
           data-original-title="Public vs. Private?"
           data-placement="bottom"></i>
        <%=  f.hidden_field :public, value: @item.public ? '1' : '0' %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :title, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :description, class: 'control-label' %><br />
      <div class='controls'>
        <%= f.text_area :description, placeholder: "A description will appear in the email (and the blog if public), but not be visible during standup.  Markdown available." %>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>