<% form_for_item = @post ? [@post, @item] : @item %>
<%= form_for(form_for_item, html: { class: 'form-horizontal' }) do |f| %>
    <% if @item.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited
            this item from being saved:</h2>
          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> Item</legend>

    <div class='control-group'>
      <%= f.label :title, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :title %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <div class="btn-group" data-toggle-name="item[public]" data-toggle="buttons-radio" >
          <button type="button" value="0" class="btn" data-toggle="button">Private</button>
          <button type="button" value="1" class="btn" data-toggle="button">Public</button>
        </div>
        <%=  f.hidden_field :public, value: @item.public ? '1' : '0' %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <div class="btn-group" data-toggle-name="item[kind]" data-toggle="buttons-radio" >
          <% Item::KINDS.each do |kind| %>
            <button type='button' value='<%= kind %>' class='btn' data-toggle="button"><%= kind %></button>
          <% end %>
        </div>
        <%=  f.hidden_field :kind %>
      </div>
    </div>

    <div class='control-group'>
      <%= f.label :description, class: 'control-label' %><br />
      <div class='controls'>
        <%= f.text_area :description %>
       </div>
    </div>


    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>