<% form_for_item = @post ? [@post, @item] : @item %>
<%= form_for(form_for_item, html: { class: 'form-horizontal' }) do |f| %>
  <% if @item.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:</h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>New Face</legend>
    <div class='control-group'>
      <%= f.label :title, "Name", class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :title, placeholder: 'John Smith - Interviewing with Rob' %>
      </div>
    </div>

    <div class="field">
      <%= f.hidden_field :public, value: false %>
    </div>
    <div class="field">
      <%=  f.hidden_field :kind, value: 'New face' %>
    </div>
    <div class="form-actions">
      <%= f.submit "Create New Face", class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>