<%= render partial: 'items/as_html', locals: { items: @post.items_by_type } %>

<div class='row'>
  <div class='span4'><%= link_to "Add New Face", new_post_item_path(@post, kind: 'face'), class: 'btn' %></div>
  <div class='span4'><%= link_to "Add Help", new_post_item_path(@post, 'item[kind]' => 'Help'), class: 'btn' %></div>
  <div class='span4'><%= link_to "Add Interesting", new_post_item_path(@post, 'item[kind]' => 'Interesting'), class: 'btn' %></div>
</div>

<hr>

<%= form_for(@post, html: { class: 'well form-inline'})  do |f| %>
  <% if @post.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this item from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :title %>
    <%= f.text_field :from %>
    <%= f.submit "Update", class: 'btn btn-primary' %>
<% end %>


<hr>
EMAIL:

<div class='email_post'>
  <pre>
Subject: <%= @post.title %>
From: <%= @post.from %>

<%=  render partial: 'items/as_markdown', locals: { items: @post.items_by_type } %>
  </pre>
</div>

<% if @post.sent_at %>
  This email was sent at <%=  @post.sent_at %>
<% else %>
  <%= link_to 'Send Email', send_email_post_path(@post), :confirm => 'Emails can not be unsent.  Are you sure?',
              :method => :put %>
<% end %>

<hr>
BLOG POST:

<div class='blog_post'>
  (Title: <%= @post.title %>)

  <pre>
<%=  render partial: 'items/as_markdown', locals: { items: @post.public_items_by_type } %>
  </pre>
</div>

<% if @post.blogged_at %>
  This entry was posted at <%=  @post.blogged_at %>
<% elsif wordpress_enabled? %>
  <%= link_to 'Post Blog Entry', post_to_blog_post_path(@post),
              :confirm => 'This will post to wordpress.  Are you sure?',
              :method => :put %>
<% end %>