<!DOCTYPE html>
<html>
<head>
  <title>Whiteboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path 'whiteboard-icon-144x144.png' %>">
  <link rel="shortcut icon" href="<%= asset_path 'whiteboard-icon-144x144.png' %>" />
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
        Whiteboard
      </a>
      <ul class="nav">
        <li><%= link_to "Previous Posts", posts_path %></li>
      </ul>
      <% if session['logged_in'] %>
        <ul class="nav pull-right">
          <li>
            <%= link_to '/logout' do %>
              <i class='icon-signout'></i>
            <%- end -%>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>


<% if flash[:error] %>
  <p class="alert alert-error"><%= flash[:error] %></p>
<% end %>
<% if flash[:notice] %>
  <p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>

<%= yield %>

</body>
</html>
